body {
    margin: 0;
    padding: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  
  
  .cont {
    height: 100vh;
  }
  
  .container1 {
    background-color: 	#FF00FF;
  }
  
  header {
    height: 20vh;
    background-color: #6595ED;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  img {
    height: 50px;
    width: 50px;
  }
  
  nav {
    display: flex;
    align-items: end;
  }
  
  ul {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: end;
  }
  
  li {
    list-style: none;
    margin-right: 15px;
  }
  
  a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: white;
  }
  
  main {
    height: 80vh;
    background-color: 	black;
  }
  
  .container2 {
    background-color: #433D8B;
  }
  
  .container3 {
    background-color: #9800D3;
  }
  .container4 {
    background-color:blueviolet;
  }
  
  
  section {
    height: 80vh;
    background-color: #8FFFD4;
  }
  footer {
    height: 20vh;
    background-color: black;
  }
  